* {
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

main {
  width: 100%;
  flex: 1;
  text-align: center;
}


header, footer {
  color: white;
  width: 100%;
  font-weight: 600;
  padding: 30px;
  text-align: center;
  background-color: rgb(231, 83, 28);
}

header {
  margin-bottom: 15px;
}

main div {
  width: 80%;
  max-width: 500px;
  min-height: 300px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

main div img {
  max-width: 100%;
  height: auto;
}

img[data-src] {
  opacity: 0;
  transform: scale(0);
}

img[src] {
  opacity: 1;
  transform: scale(1);
  transition: 1s ease-in-out;
}